<div id='search_title_umbrella'>

  <h2 class='title' id='search_result_title'> 
    <%= search_result_title(total_num_of_children, records) %>
  </h2>

  <% if admin_data_is_allowed_to_update? && params[:action] == 'advance_search' %>
    <div class='delete_destroy_box'>
      <span><%= link_to 'Update All', '#', :id => 'advance_search_update_all' %></span>
      |
      <span><%= link_to 'Delete All', '#', :id => 'advance_search_delete_all' %></span>
      |
      <span><%= link_to 'Destroy All', '#', :id => 'advance_search_destroy_all' %></span>
    </div>
  <% end %>

  <div class='clear'></div>

</div>
